{
  margin:0;
  padding:0;
}

html {
  height: 100vh;
}

body {
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  margin: 0;
} 

.container {
  width: 80%;
  margin: auto;
  line-height: 180%;
  overflow: hidden;
}

#main-header {
  background-color: rgb(219, 67, 12);
  color: rgb(243, 225, 225);
  width: 100%;
}

#navbar {
  background-color: #333;
  color: #fff;
  width: 100%;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 60px;
}

#navbar a:hover {
  text-decoration: underline;
}
.box-1 {
  background-color: rgb(223, 217, 217);
  margin: auto;
  border:5px rgb(255, 102, 0) solid;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
} 

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  color: red;
}

a:active{
  color: green;
}

a:visited {
  color: auto;
}

.container {
  width: 80%;
  margin: auto;
}

.button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
}

.button:hover {
  background: red;
  color: white;
}

.clr {
  clear: both;
}

.box-1 h1 { 
  font-family: tahoma;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}
.box-2 {
  border: 3px doted #ccc;
  padding: 20px;
  margin: 20px 0;

}
.categories {
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}
.categories h2 {
  text-align: center;
}
 
.categories ul {
  padding: 0;
  padding-left: 20px;
  list-style: square;
  list-style: none;
}

.categories li {
padding-bottom: 6px;
border-bottom: dotted 1px #333;
list-style-image: url('../images/check.png');
}

.block {
  float:left;
  width: 33.3%;
  background-color: #ccc;
  border: 1px solid rgb(247, 95, 8);
  padding: 10px;
  box-sizing: border-box;
}

#main-block {
  float: left;
  width: 70%;
}

#sidebar {
  float: right;
  width: 30%;
  background-color: #333;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
}

.respon {
  width: 100%;
  height: auto;
}

.my-list li:nth-child(even) {
    background: rgb(190, 190, 190);
}
        
#main-footer {
  background: rgb(99, 96, 96);
  color: #fff;
  text-align:center;
  padding: 10px;
  width: 100%;
  margin-top:0px;
}
